<ion-header>
  <ion-navbar color='primary'>
    <ion-title>
      Alocações
    </ion-title>
    <a class="sair" (click)="signOut()">
      SAIR
    </a>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <h3 *ngIf="!(alocacoes | async)?.length">Ainda não há alocações</h3>
    <ion-item center *ngFor="let alocacao of alocacoes | async">
      <h1>{{ alocacao.local }}</h1>
      <h2>Máquina: {{ alocacao.nome }}</h2>
      <p>Data de saída: {{ alocacao.dataS }}</p>
      <p>data de entrada: {{ alocacao.dataE }}</p>
      <p>Quantidade de horas: {{ alocacao.qntH }}</p>
      <p>Tipo de alocação: {{ alocacao.tipo }}</p>
      <p>Valor total: R$ {{ alocacao.total }}</p>
    </ion-item>
  </ion-list>
</ion-content>
 